@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


/*resest style*/
*{padding: 0; margin: 0;}
body{font-family:'Noto Sans KR', sans-serif; font-size: 1em; color: #004f98; background-color: #fff; overflow-x: hidden; overflow-y: auto;}
ul,li,ol{list-style: none;}
a{text-decoration: none;}
img{border: none; outline: none;}


/*layout style*/
#wrapper{width: 100%;}
header{width: 100%; height:auto; background: #fff; margin-top: 50px;}
header nav{width: 100%; height: 220px ; position: absolute; top: 0; left: 0; z-index: 1; }
#section1{width: 100%; height: 814px; background-color: #6da1ed; }
#section2{width: 100%; height: 838px; background: url(../images/section2-back.jpg) no-repeat center center;}
#section3{width: 100%; height: 313px; background-color: #fff;}
footer{width: 100%; height: 226px; background-color: #6da1ed;}


/*nav style*/
header nav #nav-inner{width: 1400px; height: 100%; margin: 0 auto; position: relative;}
header nav #nav-inner h1{width: 432px; height: 100%; position: absolute; top: 40px; left: 50%; margin-left: -216px;}
header nav #nav-inner h1 a{display: block; width: 100%; height: 100%; text-align: center;}

header nav #nav-inner .gnb{float: left; margin:0 auto; width: 1000px; height: 50px; position: absolute; bottom: 0; left: 50%; margin-left: -500px;}
header nav #nav-inner .gnb li{float: left; margin-right: 100px; height: 100%;}
header nav #nav-inner .gnb li:last-child{margin-right: 0;}
header nav #nav-inner .gnb li a{width: 100%; height: 100%; text-align: center; line-height: 50px;}




/*header style*/
header #header-inner{width: 100%; height: 100%; position: relative;}
header #header-inner .bns{width:410px; height:275px ;  position: absolute; bottom: 80px; left: 250px; z-index: 10;}

header .visual{width: 100%;}
header .visual .visual1 img, 
header .visual .visual2 img,
header .visual .visual3 img{width: 100%;}

/*slick dots style*/
header .visual .slick-dots{position: absolute; left: 50%; bottom: 50px; width:100%; height: 8px; margin-left: -115px;}
header .visual .slick-dots li{height: 8px; display: inline-block; margin-left: 10px;}
header .visual .slick-dots li button{background-color: #fff; width: 70px; height: 8px; text-indent: -9999px; outline: none; border: none; cursor: pointer;}
header .visual .slick-dots li.slick-active button{background-color: #6da1ed;}



#header-inner .banner{display: block; width: 100%; height: 100%;}

#header-inner .banner div{width: 382px; height: 128px; background: url(../images/banner-back.png) no-repeat center center;}

#header-inner .banner div{transition: all 0.4s;}
#header-inner .banner:hover div{transform:scale(1.1,1.1);}


header #header-inner .sns{width: 360px; height: 70px; position: absolute; top: 175px; left: 50%; margin-left: -180px; padding-left: 25px; box-sizing: border-box;  }
header #header-inner .sns li{float: left; font-size: 3.5em; margin-right: 30px;}
header #header-inner .sns li:last-child{margin-right: 0;}
header #header-inner .sns li a{text-decoration: none; color:#fff; opacity:1 ; display: inline-block; width: 100%; height: 100%; transition: all 0.4s;text-shadow: 4px 4px 3px rgba(0,0,0,0.5);}

header #header-inner .sns li:hover a{opacity: 0.9; transform:scale(1.1,1.1);}



/*section1 style*/
#section1-inner{width: 100%; height: 814px; margin: 0 auto; position: relative;}
#section1-inner .s1_box{width:787px ; height: 167px; background: url(../images/section1_box2.png) no-repeat center center; position: absolute; top: 43px; left: 50%; margin-left: -393.5px;}
#section1-inner .s1_box img{position: absolute; top: 33px; left: 50%; margin-left: -151px;}
#section1-inner .s1_box p{position: absolute; bottom: 35px; left: 245px; text-align: center; font-weight: bold; font-size: 1em; letter-spacing: 1.5px; }

#section1-inner .movie{width: 1400px; height: 510px;position: absolute; top: 250px; left: 50%; margin-left: -700px;}
#section1-inner .movie .movie-inner{width: 280px; height: 510px;}
#section1-inner .movie .movie-inner .pic{box-shadow:4px 4px 3px rgba(0,0,0,0.5); transform: scale(0.95,0.95); transition: all 0.6s; }
#section1-inner .movie .movie-inner:hover .pic{transform: scale(1,1);}

#section1-inner .movie .movie-inner .txt{position: absolute; bottom: 0; left: 10px;}

#section1-inner .movie .movie-inner a{width: 100%; height: 100%; display: block;}


#section1-inner .movie .movie1{position: absolute; left: 25px;}
#section1-inner .movie .movie2{position: absolute; left: 50%; margin-left: -140px;}
#section1-inner .movie .movie3{position: absolute; right: 25px; }



/*section1 cloud*/

.cloud{width: 1920px; height: 100%; position: relative; overflow: hidden;}
.cloud .cl1{position: absolute; top: 0; left: 0;  animation: ani1 130s linear infinite; opacity: 1;}
.cloud .cl2{position: absolute; top: 0; left: 0; animation: ani2 70s linear infinite; opacity: 0.7;}


/*구름 모션*/
@keyframes ani1{
    0%{left: -300px;}
    50%{left: 1950px;}
    50.001%{left: -1840px; opacity: 0.8;}
    100%{left: 0px;}
}

@keyframes ani2{
    0%{left: 0px;}
    50%{left: 1950px;}
    50.001%{left: -1840px; opacity: 0.5;}
    100%{left: 0px;}
}



/*section2 style*/
#section2-inner{width: 1400px; height: 100%; margin: 0 auto; position: relative;}
#section2-inner .s2_box{width:1080px ; height: 257px; position: relative; padding-top: 60px; box-sizing: border-box; margin-left: 120px; }

#section2-inner .s2_box .s2_back{width: 100%;}
#section2-inner .s2_box .s2_title{position: absolute; top: 105px; left: 50%; margin-left: -197px;}
#section2-inner .s2_box p{position: absolute; top: 155px; left: 18%; text-align: center; font-weight: bold; font-size: 1em; letter-spacing: 1.2px; line-height: 1.8em;}


#section2-inner .visual-slider{width: 1200px; height: 385px; position: absolute; bottom: 65px; left: 50%; margin-left: -600px;}

.tr{width: 300px; height: 385px;}

.tr .tr_inner{width: 280px; height: 280px; position: relative;}

.tr .tr_inner .tr_image{width: 100%;}
.tr .tr_inner .play{position: absolute; top: 90px; left: 50%; margin-left: -35px; width: 80px; height: 92px; 
    opacity: 1; transition: all 0.3s;}
.tr .tr_inner:hover .play{opacity: 0.6;}

.tr a{width: 100%; height: 100%; display: block;}

.tr a span{display:block; width: 100%; text-align: center; margin-top: 20px;}



    /*slick arrow style*/
    #section2 #section2-inner .visual-slider .slick-prev {width:67px; height: 75px; text-indent:-9999px; position:absolute; left:-80px; top:35%; background:url(../images/btnprev.png) no-repeat 0 0; outline:none; z-index: 10; opacity: 0.8;  transition: all 0.4s; cursor: pointer;}
    #section2 #section2-inner .visual-slider  .slick-prev:hover{ opacity: 1;}
    
    
    #section2 #section2-inner .visual-slider  .slick-next {width:67px; height: 75px; text-indent:-9999px; position:absolute; right:-60px; top:35%; background:url(../images/btnnext.png) no-repeat 0 0; outline:none; z-index: 10; opacity: 0.8; transition: all 0.4s; cursor: pointer;}
    #section2 #section2-inner .visual-slider  .slick-next:hover{ opacity: 1;}
    


/*popup style*/
.popup{width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.5); z-index: 100; display:none } 
.popup .popup_inner{width:850px; height:100%; margin:0 auto; }

.popup .popup_inner .modal{width: 850px; height: 478px; position: absolute; top: 50%; margin-top: -278px;}
.popup .popup_inner .modal a{display: block; width: 33px; height: 33px; background: url(../images/btn_popClose.png) no-repeat; text-indent: -9999px; position: absolute; right: -40px; top: 0;}



/*section3 style*/
#section3-inner{width: 1400px; height: 100%; position: relative; margin: 0 auto;}
#section3-inner h2{width: 446px; height: 40px; margin: 0 auto; padding-top: 20px ; box-sizing: border-box;}

.ch{width: 100%; height: 192px; margin-top: 40px;}
.ch li{float: left; margin-right: 52px; position: relative;}
.ch li:first-child{margin-left: 42px;}
.ch li:last-child{margin-right:0;}

.ch li a .chimg{opacity: 1; transition: all 0.4s;}
.ch li:hover a .chimg{opacity: 0.3; transform: rotateY(180deg);}
.ch li a .chtxt{display: none; transition: all 1s; position: absolute; top: 42%; left: 50%; opacity: 0.4;}
.ch li:nth-child(1) a .chtxt{margin-left: -49.5px;}
.ch li:nth-child(2) a .chtxt{margin-left: -44.5px;}
.ch li:nth-child(3) a .chtxt{margin-left: -52px;}
.ch li:nth-child(4) a .chtxt{margin-left: -34px;}
.ch li:nth-child(5) a .chtxt{margin-left: -88.5px; top: 35%;}

.ch li:hover a .chtxt{display: block; opacity: 1;}




/*footer style*/
#footer-inner{width: 100%; height: 100%; position: relative; margin: 0 auto;}
.buzz{position: absolute; top: -80px; left: 50px;}
.f-logo{position: absolute; top: 30%; left: 50%; margin-left: -335.5px;}
.forky{position: absolute; right: 100px; top: -100px;}


